/* -------------------Media query---------------------------------- */


.carbox{
    height: 380px;
}
/* media query */
@media screen and (max-width:854px) {
    .carbox {
        width: 200px;
        height: 370px;
    }

    .carbox img {
        width: 180px;
        height:180px

    }

    .leftcars {
        width: 300px;
    }

    .icons {

        font-size: 18px;

    }

    .icons span {

        font-size: 10px;


    }

    .description h3 {

        font-size: 14px;
    }

}


@media screen and (max-width:671px) {
    .leftcars {
        width: 220px;
        display: none;
    }

    .carbox {
        width: 170px;
        height: 330px;
    }

    .carbox img {
        width: 130px;
        height: 180px;

    }

    .description h3 {

        font-size: 11px;
    }

    .icons {

        font-size: 14px;

    }

    .icons span {

        font-size: 8px;


    }


}

/*  */
@media screen and (max-width:403px) {
    .carbox {
        width: 100%;
        height: auto;
        /* margin: 10px 10%; */
    }
    .subnavbar ul li {
      
        font-size: 10px;
            }
            .sidecategory{
                font-size: 12px;
            }
    .carbox img {
        width: 90%;
       /* margin-left: 20px; */
       

    }

    .rightcars {
        width: 100%;
    }
}