@charset "ISO-8859-1";
.slider {
    width: 500px;
    height: 300px;
    background-color: yellow;
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
  }
  .image-container {
    width: 1500px;
    background-color: pink;
    height: 300px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }
  .slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  #slide-1:target ~ .image-container {
    left: 0px;
  }
  #slide-2:target ~ .image-container {
    left: -500px;
  }
  #slide-3:target ~ .image-container {
    left: -1000px;
  }
  .buttons {
    position: relative;
    top: -20px;
  }
  .buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: lightgreen;
  }
  .col{
    margin-bottom: 20px;
  }
  .selectionpart h5{
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 25px;
  }
  .delivery-information{
    display: none;
  }
  .col-pro{
    margin-top: 30px; 
    border:1px solid black;
    padding:30px;
    border-radius: 5px;
  }
  .col-pro h6{
    font-weight:bolder;
    padding: 5px;
  }
  .col-ppro{
    margin-top: 50px; 
  
    padding:30px;
    border-radius: 5px;
  }
  .col-ppro h6{
    padding: 5px;
  }
  .col{
    margin-right: 30px;
  }
  .col-ppro button{
    padding: 5px 50px;
    border-radius: 10px;
    font-weight: 700;
    /* float: right; */
    cursor: pointer;
    
    border: 2px solid red;
    background-color: red;
    color: white;
  }
  .col-ppro button:hover{
    color: red;
    background-color: white;
  }
  h5{
    color: red;
    font-weight: 700;
    background-color: #ddd;
    padding: 5px 10px;
    border-radius: 10px;
  }